body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

canvas {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#frequencySlider, #waveCountSlider {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

