<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f4f4f9;
    }
    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: left;
        position: relative;
    }
    h1, h2 {
        color: #333;
    }
    .profile-pic {
        width: 500px;
        height: 300px;
        object-fit: cover;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .section {
        margin-bottom: 20px;
    }
    .back-button {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 10px 15px;
        font-size: 20px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }
    .back-button:hover {
        background-color: #0056b3;
    }
    .arrow {
        margin-right: 5px;
        font-size: 20px;
    }
    p {
        font-size: 20px;
        text-indent: 2em;
    }
    ul {
        font-size: 20px;
    }
</style>
